Options -Indexes
RewriteEngine On

RewriteCond %{REQUEST_URI} ^(.*)/{2,}$
RewriteRule ^(.*)/$ /%1/ [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
